body {
		background-color: #fff;
		margin: 0px; 
		padding: 0px;
	}
* {
    box-sizing: border-box;
}
.row::after {
    content: "";
    clear: both;
    display: table;
}
[class*="col-"] {
    float: left;
    padding: 15px;
}
html {
    font-family: Arial, Helvetica, sans-serif;
}

pre{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;

}
.header {
   background: #fb6c1e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#ffc700,#fb6c1e); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#ffc700,#fb6c1e); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#ffc700,#fb6c1e); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#ffc700,#fb6c1e) ;/* Standard syntax (must be last) */
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
  color: #fff;

}

.west {
    width: 33%;
    float: left;
    background-color: #000;
    color:#fff;
}
.east {
    width: 33%;
    float: left;
}

.winter{
	width:33%
	float: left;
}

.menu a {
	color: #ffc700;
}
.menu a:hover {
	color: #fb6c1e;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.menu li {
    padding: 8px;
    margin-bottom: 7px;
    background-color: #000;
    color: #ffffff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}
.menu li:hover {
    background-color: #fd9b0f;
}
.aside {
    background-color: #fff;
    padding: 15px;
    color: #000;
    text-align: center;
    font-size: 14px;
    
}

a {
	color:#fb6c1e;
	color:#000;
	}
	
a:hover {
	color: #ffc700;
	}

.footer {
   background: #fb6c1e; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#fb6c1e,#ffc700); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#fb6c1e,#ffc700); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#fb6c1e,#ffc700); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#fb6c1e,#ffc700) ;/* Standard syntax (must be last) */
    font-family: Arial, Helvetica, sans-serif;
    font-size:14px;
  color: #000;
}
/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 600px) {
    /* For tablets: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}
@media only screen and (min-width: 768px) {
    /* For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}
